@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Cantarell:400i|Petit+Formal+Script');

/*
font-family: 'Petit Formal Script', cursive;
font-family: 'Cantarell', sans-serif;

*/

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.reco-main-page {
  /*background-image: url(../images/blue.jpg);
  background-attachment: fixed;*/
  /*background-color: rgb(98, 255, 200);*/
  background-color: rgb(220, 255, 252);
  font-family: 'Josefin Sans', sans-serif;
  min-height: 2000px;
}

.name {
  position: relative;
  text-align: center;
  font-size: 80px;
  color: rgba(20,70,73, 1);
  padding-top: 20px;
}

.selection {
  position: relative;
  text-align: center;
  font-size: 25px;
  color: rgba(20,70,73, 1);
  margin: 10px 0 10px 0;
}

.row {
  position: relative;
  text-align: center;
}

.form-check {
  display: inline-block;
  margin: 0 40px 0 40px;
}

.radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance: button;
  border:4px solid rgb(0, 212, 135);
  /*border-top-color:rgba(0, 255, 162, 1);
  border-left-color:rgb(0, 179, 113);*/
  background: rgba(20,70,73, 1);
  width:50px;
  height:50px;
  border-radius:50%;
  transition: all 0.5s linear;
  outline: none;
}
.radio:checked{
  border:20px solid rgb(0, 212, 135);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.e-m-t {
  text-align: center;
  margin-top: 10px;
}
.easy, .medium, .tough {
  display: inline-block;
  width: 140px;
  font-size: 25px;
  height: 30px;
  color: rgba(20,70,73, 1);
}


.tags-for-questions {
  text-align: center;
  font-size: 25px;
  height: 50px;
  color: rgba(20,70,73,1);
  line-height: 50px;
}
.tags-open {
  display: inline-block;
  position: relative;
  margin: 10px 0 10px 0;
  width: 150px;
  height: 50px;
  background-color: rgb(0, 212, 135);
  border-radius: 25px;
  line-height: 50px;
  margin-left: 10px;
  user-select: none;
}


#problem {
  position: relative;
  width: 95%;
  min-height: 60px;
  background-image: linear-gradient(rgb(209, 209, 209), rgb(126, 126, 126));
  margin: 15px 0 15px 2.5%;
  border-radius: 30px;
}
#pb-name, #pb-rat, #pb-tags, #pb-solve{
  display: inline-block;
  position: absolute;
  font-size: 25px;
  line-height: 60px;
}
#pb-name {
  max-width: 39%;
  margin: 0 0 0 2%;
}
#pb-rat {
  margin: 0 0 0 10%;
}
#pb-tags {
  max-width: 38%;
  margin-left: 51%;
}
#pb-solve {
  right: 8%;
}

.wait {
  text-align: center;
  font-size: 25px;
  height: 50px;
  color: rgba(20,70,73,1);
  line-height: 50px;
  margin-top: 100px;
}

.tags-menu {
  margin-top: 30px;
  width: 90%;
  min-height: 20px;
  margin: 30px 0 20px 5%;
  z-index: 200;
  background-color: rgba(20,70,73, 1);
  border-radius: 0 0 40px 40px;
  text-align: center;
  user-select: none;
}

.tag-option {
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  min-width: 60px;
  height: 50px;
  font-size: 25px;
  background-color: rgb(188, 255, 230);
  margin: 5px 5px 5px 5px;
  line-height: 50px;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  outline: none;
}
.tag-option:hover {
  background-color: rgb(134, 255, 211);
}